body {
    background-color: #080710;
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
}

h1{
    text-align: center;
    color:white;
}

.button {
    background-color: 	#DCDCDC; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
	font-weight: 600;
    margin: 4px auto;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    padding: 8px;
    text-align: left;
  }
#tab {
    width: 600px;
    background: 	#DCDCDC;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 5px;
}

/* 頁籤ul */
#tab > ul {
    margin: 0;
    padding: 10px 20px 0 20px;
    font-size: 18px;
	font-weight: 600;
}

#tab > ul > li {
    list-style-type: none;
}

/* 頁籤上的文字 */
#tab > ul > li > a { 
    text-decoration: none;
    font-size: 15px;
    color: #333;
    float: left;
    padding: 10px;
    margin-left: 5px;
}

/*內容*/
#tab > div {
    clear: both;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/*第一筆的底色*/
span:target ~ #tab > ul li:first-child a {
    background: none;
}

span:target ~ #tab > div:first-of-type {
    visibility: hidden;
    height: 0;
    padding: 0 15px;
}

/*頁籤變換&第一筆*/
span ~ #tab > ul li:first-child a,
#tab-1:target ~ #tab > ul li a[href$="#tab-1"],
#tab-2:target ~ #tab > ul li a[href$="#tab-2"],
#tab-3:target ~ #tab > ul li a[href$="#tab-3"],
#tab-4:target ~ #tab > ul li a[href$="#tab-4"],
#tab-5:target ~ #tab > ul li a[href$="#tab-5"],
#tab-6:target ~ #tab > ul li a[href$="#tab-6"],
#tab-7:target ~ #tab > ul li a[href$="#tab-7"],
#tab-8:target ~ #tab > ul li a[href$="#tab-8"] {
    background: #fff;
    border-radius: 5px 5px 0 0;
}

span ~ #tab > ul li:first-child a::before,
#tab-1:target ~ #tab > ul li a[href$="#tab-1"]::before,
#tab-2:target ~ #tab > ul li a[href$="#tab-2"]::before,
#tab-3:target ~ #tab > ul li a[href$="#tab-3"]::before,
#tab-4:target ~ #tab > ul li a[href$="#tab-4"]::before,
#tab-5:target ~ #tab > ul li a[href$="#tab-5"]::before,
#tab-6:target ~ #tab > ul li a[href$="#tab-6"]::before,
#tab-7:target ~ #tab > ul li a[href$="#tab-7"]::before,
#tab-8:target ~ #tab > ul li a[href$="#tab-8"]::before {
    background-color: white;
    height: 100%;
}

/*頁籤內容顯示&第一筆*/
span ~ #tab > div:first-of-type,
#tab-1:target ~ #tab > div.tab-content-1,
#tab-2:target ~ #tab > div.tab-content-2,
#tab-3:target ~ #tab > div.tab-content-3,
#tab-4:target ~ #tab > div.tab-content-4,
#tab-5:target ~ #tab > div.tab-content-5,
#tab-6:target ~ #tab > div.tab-content-6,
#tab-7:target ~ #tab > div.tab-content-7,
#tab-8:target ~ #tab > div.tab-content-8 {

    visibility: visible;
    height: 750px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

span {
    display: none;
}