<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
<div style="display: flex; justify-content: space-between;">
    <div id="category" style="width: 50%;"></div>
    <div id="product" style="width: 50%;"></div>
</div>
<div id = "categoryData" style = "visibility: hidden;">{{categoryData}}</div>
<div id = "productData" style = "visibility: hidden;">{{productData}}</div>

<script src = "https://cdn.plot.ly/plotly-2.24.1.min.js" charset = "utf-8"></script>
<script src = "{{ url_for('static', filename='js/sales.js') }}"></script>
</body>

</html>